mixin employeeCard(employee)
  - const role = employee.getRole()
  - const email = employee.getEmail()
  div.box.mx-4.my-2.px-0.py-0.is-one-third.is-one-quarter-tablet.employee-card
    div.media.has-text-white.px-1.py-1.mx-1.my-1
      div.media-left.mx-2.my-1
        figure.image.is-96x96
          img(src=`${employee.getAvatar()}`)
      div.media-content
        h3.title.px-3.py-3.is-4.has-text-right= employee.getName()
        p.subtitle.px-3.py-3.is-5.has-text-right= role
    div.table-container.mx-2.my-2
      table.table.is-striped.is-fullwidth
        tbody
          tr
            th.has-text-right.is-size-7 ID
            td.is-size-7= employee.getId()
          tr
            th.has-text-right.is-size-7.is-size-6-desktop Email
            td.is-size-7.is-size-6-desktop
              a.is-size-7.is-size-6-desktop(href=`mailto:${email}`).is-size-6= email
          if role === 'Manager'
            tr
              th.has-text-right.is-size-7.is-size-6-desktop Office Number
              td.is-size-7.is-size-6-desktop= employee.getOfficeNumber()
          else if role === 'Engineer'
            - const github = employee.getGithub()
            tr
              th.has-text-right.is-size-7.is-size-6-desktop GitHub
              td.is-size-7.is-size-6-desktop
                a.is-size-7.is-size-6-desktop(href=`https://github.com/${github}`)= github
          else if role === 'Intern'
            tr
              th.has-text-right.is-size-7.is-size-6-desktop School
              td.is-size-7.is-size-6-desktop= employee.getSchool()