mixin employeeCard(employee)
  - const role = employee.getRole()
  - const email = employee.getEmail()
  div.box.mx-4.my-2.px-0.py-0.is-one-third-mobile.employee-card
    div.media.has-background-primary.px-1.py-1
      div.media-left.mx-2.my-1
        figure.image.is-64x64
          img(src=`${employee.getAvatar()}`)
      div.media-content
        h3.title.is-4= employee.getName()
        p.subtitle.has-text-right.is-6= role
    table.table.is-striped.is-narrow
      tbody
        tr
          th.has-text-right.is-size-7 ID
          td.is-size-7= employee.getId()
        tr
          th.has-text-right Email
          td
            a(href=`mailto:${email}`).is-size-6= email
        if role === 'Manager'
          tr
            th.has-text-right Office Number
            td= employee.getOfficeNumber()
        else if role === 'Engineer'
          - const github = employee.getGithub()
          tr
            th.has-text-right GitHub
            td
              a(href=`https://github.com/${github}`)= github
        else if role === 'Intern'
          tr
            th.has-text-right School
            td= employee.getSchool()